@import '/styles/variables';

.title,
.details {
  margin-top: 0.5rem;
}

.details {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto 80px auto;
  padding: 1.25rem;
}

.title {
  text-align: center;
  line-height: 1;
}

.date {
  opacity: 0.6;
  font-size: 0.9375rem;
  text-align: center;
  margin-top: 0.25rem;
}

.link {
  color: $link-clr;
  background: $link-clr-bg;
  width: 50%;
  place-self: center;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  line-height: 1;

  margin-top: 1rem;
  padding: 0.65rem 0.5rem;
  box-shadow: $card-box-shadow;
}

.link:hover,
.link:focus {
  opacity: 0.85;
}
