//colors
$background: var(--background);
$on-background: var(--on-background);
$link-clr: var(--link-color-text);
$link-clr-bg: var(--link-color-bg);
$card-clr-bg: var(--card-clr-bg);

//box shadow

$card-box-shadow: var(--card-box-shadow);
