@import 'variables';
@import 'mixins/flex-toolkit';
@import 'center';

:root {
  --background: #fff;
  --on-background: #000;
  --link-color-text: #fff;
  --link-color-bg: #6200ee;
  --card-clr-bg: var(--background);
  --card-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] {
  --background: #121212;
  --on-background: #fff;
  --link-color-text: #000;
  --link-color-bg: #bb68fc;
  --card-clr-bg: #2d2d2d;
  --card-box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
}
/* Box sizing rules */
*,
* ::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  background-color: $background;
  color: $on-background;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
main {
  width: 90%;
  max-width: 60rem;
  margin: 3rem auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  height: calc(100vh - 50px);
  margin: 0;
  @include flex-column;
}

footer {
  margin-top: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
