@import '/styles/variables';
@import '/styles/mixins/flex-toolkit';

.title {
  font-size: 3.5rem;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.details {
  margin-top: 1rem;
  font-size: 1.125rem;
}
.icon {
  &:hover,
  &:focus {
    svg {
      path {
        fill: $link-clr-bg;
      }
    }
  }
  svg {
    path {
      fill: $on-background;
    }
  }
}

.links {
  display: flex;
  margin-top: 1rem;
  a:not(:first-child) {
    margin-left: 1rem;
  }
}
