@import '/styles/variables';
@import '/styles/mixins/flex-toolkit';

.title {
  font-size: 3.5rem;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.details {
  margin-top: 1rem;
  font-size: 1.25rem;
}
.icon {
  svg {
    path {
      fill: $on-background;
      &:hover,
      &:focus {
        fill: $link-clr-bg;
      }
    }
  }
}

.links {
  display: flex;
  margin-top: 1rem;
}
