@import '/styles/variables';
@import '/styles/mixins/flex-toolkit';

.header {
  background: $link-clr-bg;
  @include flex-center;
  padding: 0.5rem 0;
}

.container {
  width: 90%;
  max-width: 60rem;

  @include flex-sb-horiz;
  @include flex-center-vert;
}

.icon {
  svg {
    path {
      fill: $on-background;
    }
  }
}
